<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn"
        id="{{ selectorDescription }}"
        ngbDropdownToggle
      >
        {{ "Sort by: " + selected?.label }}
      </button>
      <div
        ngbDropdownMenu
        class="options"
        attr.aria-labelledby="{{ selectorDescription }}"
      >
        <button
          *ngFor="let option of allOptions"
          [class.active]="option.value === selected?.value"
          class="selected"
          ngbDropdownItem
          (click)="changeSelected(option)"
        >
          {{ option.label }}
        </button>
      </div>
    </div>
  </div>
</div>
