.item {
    max-width: 224px;
    max-height: 264px;
    .__container {
        display: flex;
        flex-direction: column;
        border: 4px solid #F9FAFA;
        border-radius: 8px;
        padding: 4px;
        background-color: white;
        &:hover {
            box-shadow: 4px 4px #CFD8DC;
        }
    }
    .__item-image {
        max-width: 216px;
        max-height: 256px;
        align-self: center;
        border-radius: 8px;
    }
    .__item-title {
        display: flex;
        margin: 4px;
        align-content: center;
    }
    .__price-fav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
    p {
        margin: 4px;
        color: #455D63;
    }
    h5 {
        margin: 4px;
    }
}
