<div class="item">
  <div class="__container">
    <img class="__item-image" [src]="itemData.image" />
    <h4>{{ itemData.title }}</h4>
    <p>{{ itemData.description }}</p>
    <div class="__price-fav">
      <h5>{{ itemData.price.amount | currency: itemData.price.currency }}</h5>
      <div [ngSwitch]="itemData.favorited">
        <button *ngSwitchCase="false">
          <img src="../../assets/item-card/heart-empty.svg" />
        </button>
        <button *ngSwitchCase="true">
          <img src="../../assets/item-card/heart-full.svg" />
        </button>
      </div>
    </div>
  </div>
</div>
