.ItemCard {
    &__container {
        width: 216px;
        height: 464px;
        border: 4px solid #F9FAFA;
        border-radius: 8px;
        padding: 4px;
        background-color: white;
        &:hover {
            box-shadow: 4px 4px #CFD8DC;
        }
    }
    &__image {
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    &__text {
        height: 248px;
        max-width: 216px;
        .title {
            max-height: 32px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 12px 4px 4px 4px;
        }
    }
    &__price-fav {
        padding: 4px;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
    p {
        max-height: 146px;
        max-width: 192px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 4px
    }
    h5 {
        margin: 4px;
    }
}
