<div class="SearchBar">
  <form
    class="d-flex flex-row align-items-center w-50"
    name="searchForm"
    [formGroup]="searchForm"
  >
    <input
      class="w-100"
      name="search"
      type="text"
      #searchInput
      placeholder="Search in our amazing collection of items"
    />
    <button class="SearchBar__button__clear" type="reset" (click)="resetForm()">
      <img
        class="search-clear"
        src="../../assets/top-bar/search-box-reset.svg"
      />
    </button>
  </form>
  <button
    class="SearchBar__button__submit d-flex flex-row justify-content-around"
    (click)="onSubmit(searchInput.value)"
  >
    <img
      class="SearchBar__button__submit__icon h-100"
      src="../../assets/top-bar/glass_icon.svg"
    />Pop
  </button>
</div>
