<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ sortOption }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="sort('Title')">Title</button>
        <button ngbDropdownItem (click)="sort('Description')">
          Description
        </button>
      </div>
    </div>
  </div>
</div>
