.ItemDetail {
    &__container {
        width: 336px;
        height: 488px;
        border: 2px solid black;
    }
    &__icon {
        margin-top: 8px;
        margin-left: 16px;
        background-color: transparent;
        border: none;
    }
    &__text {
        width: 304px;
    }
}

