<div class="ItemDetail__container d-flex flex-column">
  <p class="d-flex justify-content-center">{{ item.title }}</p>
  <div class="d-flex flex-column">
    <img class="align-self-center" width="304" src="{{ item.image }}" />
    <div class="position-absolute">
      <button class="__icon" *ngIf="item.favorited" (click)="removeFavorite()">
        <img src="../../assets/item-card/heart-full.svg" />
      </button>
      <button class="__icon" *ngIf="!item.favorited" (click)="addFavorite()">
        <img src="../../assets/item-card/heart-empty.svg" />
      </button>
    </div>
  </div>
  <div class="d-flex flex-column">
    <p>{{ item.description }}</p>
    <p>{{ item.price.amount }}</p>
  </div>
</div>
