@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

.options {
    inset: 0px 0px auto 0px !important;
}
.btn {
    border: 2px solid $greenWalla;
    border-radius: 8px;
    color: #455D63;
    &:hover{
        color:white;
        background-color: $greenWalla;
    }
}
.active {
    background-color: $greenWalla !important;
}
.selected {
    &:active {
        background-color: $greenWalla !important;
    }
}