<div class="SearchBar">
  <form
    class="d-flex flex-row align-items-center w-40"
    name="searchForm"
    [formGroup]="searchForm"
  >
    <input
      class="w-100"
      name="search"
      type="text"
      #searchInput
      placeholder="Search in our amazing collection of items"
    />
    <button class="__button--clear" type="reset" (click)="resetForm()">
      <img
        class="search-clear"
        src="../../assets/top-bar/search-box-reset.svg"
      />
    </button>
  </form>
  <button
    class="__button--submit d-flex flex-row justify-content-around"
    (click)="onSubmit(searchInput.value)"
  >
    <img class="h-100" src="../../assets/top-bar/glass_icon.svg" />Pop
  </button>
</div>
