<div class="search-bar">
  <form name="searchForm" [formGroup]="searchForm">
    <input
      name="search"
      type="text"
      #searchInput
      placeholder="Search in our amazing collection of items"
    />
    <button class="btn-clear" type="reset" (click)="resetForm()">
      <img
        class="search-clear"
        src="../../assets/top-bar/search-box-reset.svg"
      />
    </button>
  </form>
  <button class="btn-submit" (click)="onSubmit(searchInput.value)">
    <img class="glass_icon" src="../../assets/top-bar/glass_icon.svg" />Pop
  </button>
</div>
