.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 40%;
        margin-right: 16px;
        padding: 4px;
        padding-left: 10px;
        border-radius: 8px;
        outline-style: solid;
        outline-color: #13C1AC;

        input {
            width: 100%;
            border: none;
            border-radius: 8px;
            outline: none;
        }
        .btn-clear{
            display: flex;
            background-color: transparent;
            border: none;
        }
    }
    .btn-submit {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 112px;
        padding: 8px 24px 8px 24px;
        border: none;
        border-radius: 32px;
        background-color: #13C1AC;
        font-size: 16px;
        color: white;
        .glass_icon {
            height: 100%;
        }
    }
}