<ng-container>
  <div class="SliderContainer d-flex flex-column align-items-center">
    <div class="__track d-flex flex-column align-items-end">
      <div class="d-flex flex-column align-items-center">
        <input
          type="range"
          min="{{ data.min }}"
          max="{{ data.max }}"
          step="50"
          numeric
          [(ngModel)]="value"
          (change)="selectValue(value)"
        />
      </div>
    </div>
    <div class="w-100 d-flex flex-row justify-content-center">
      <p>{{ data.description }}</p>
      <p class="mx-1">{{ value + data.unit }}</p>
    </div>
  </div>
</ng-container>
