<ng-container>
  <div class="PriceFilterContainer d-flex flex-column align-items-center">
    <p>Select the maximum price</p>
    <div class="__track d-flex flex-column align-items-end">
      <div class="d-flex flex-column align-items-center">
        <input
          type="range"
          min="{{ range.min }}"
          max="{{ range.max }}"
          step="50"
          numeric
          [(ngModel)]="priceSelected"
          (change)="filterPrice(priceSelected)"
        />
        <div class="w-100 d-flex flex-row justify-content-between">
          <p>{{ range.min | currency: "EUR" }}</p>
          <p>{{ priceSelected | currency: "EUR" }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
